
  <div class="products-container">
    <div class="products-card" *ngFor="let product of productData">
      <div class="products-card-flex">
        <div class="products-img">
          <img class="thicker" src="assets/img/ishare_agg.png"/>
        </div>
        <div class="text-info-card">
              <div class="text-container">
                <h1>{{product.name}}</h1>
              <div>
              <div class="row-info">
                <div class="price-info">
                    <h4>NAV a {{product.dateTheoreticalPrice}}</h4>
                    <h3><b>Precio de cierre: {{product.theoreticalPrice}}</b></h3>
                </div>
                <div class="products-info">
                  <h3 *ngFor = "let item of product.keyFactor | keyvalue; let i=index;">
                    <p *ngIf="item.key=='badge'">Divisa: {{item.value}}</p>
                  </h3>
                  <h4 *ngFor = "let item of product.keyFactor | keyvalue; let i=index;">
                    <p *ngIf="item.key=='assets'"> Activos netos: {{item.value}}</p>
                  </h4>
                </div>
                <div class="keyfactor">
                    <h4 *ngFor = "let item of product.keyFactor | keyvalue; let i=index;">
                    <p *ngIf="item.key=='commissions'">Comisiones: {{item.value}}%</p>
                    </h4>
                    <h4 *ngFor = "let item of product.keyFactor | keyvalue; let i=index;">
                    <p *ngIf="item.key=='duration'">Duración efectiva: {{item.value}}%</p>
                    </h4>
                    <h4 *ngFor = "let item of product.performance | keyvalue; let i=index;">
                    <p *ngIf="item.key=='annualPercentage'">Porcentaje anual: {{item.value}}%</p>
                    </h4>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
