<h2>{{ data.message }}</h2>
<mat-dialog-content class="dialog-content">
  <div *ngIf="data.view=='customer'; ">
    <app-edit-customer [customerInput]="data.content"></app-edit-customer>
  </div>
  <div *ngIf="data.view=='opportunity';">
    <app-create-opportunity></app-create-opportunity>
  </div>
  <div *ngIf="data.view=='editOpportunity';">
    <app-edit-opportunity></app-edit-opportunity>
  </div>
  <ng-template #showNewForm>
    <app-create-customer></app-create-customer>
  </ng-template>
</mat-dialog-content>
