<div class="detail-main-container">
  <h1>Detalle de la oportunidad</h1>
  <div class="detail">
      <div class="customer-detail">
        <div class="customer-name"><b>Cliente:</b>{{}}</div>
        <div class="product"><b>Producto:</b>{{}}</div>
      </div>
      <div class="status-info">
        <div class="stage">
          <p><b>Status:</b>{{}}</p>
        </div>
        <div class="priority">
          <p><b>Prioridad:</b>{{}}</p>
        </div>
        <div class="employee">
          </p><b>Empleado BLK:</b>{{}}</p>
        </div>
      </div>
      <div class="date-info">
        <div class="last-date">
          <p><b>Última reunión: </b>{{}}</p>
        </div>
        <div class="next-date">
          <p><b>Próxima reunión:</b>{{}}</p>
        </div>
      </div>
        <div class="comments">
          <textarea class="comments-area" placeholder="Comentarios:">
          </textarea>
       </div>
  </div>
  <div class="historial">
    <h2>Historial de oportunidades</h2>
      <div class="info-historial">
        <p><b>Fecha:</b>{{}}</p>
        <p><b>Cliente:</b>{{}}</p>
        <p><b>Productos:</b>{{}}</p>
      </div>
      <div class="status-customer">
        <p><b>Tipo:</b>{{}}</p>
        <p><b>Prioridad:</b>{{}}</p>
        <p><b>Status:</b>{{}}</p>
      </div>
      <div class="employee-date">
        <p><b>Empleado BLK:</b>{{}}</p>
        <p><b>Próxima reunión:</b>{{}}</p>
      </div>
    </div>
  </div>
</div
