<div class="card-welcome">
	<h1>¡GRAN TRABAJO, CARLOS!</h1>
	<div class="card-content">
		<div class="img-card-welcome">
			<img src="../../../assets/img/BLK_icn_people.svg" />
		</div>
		<div class="products-sold">
			<h3>4,000</h3>
			<p>Titulos <br> vendidos</p>
		</div>
		<div class="line"><hr size="100"></div>
		<div class="promises-created">
			<h3>359</h3>
			<p>Promesas <br>creadas</p>
		</div>
		<div class="line">
			<hr size="100">
		</div>
		<div class="risks-solved">
			<h3>300</h3>
			<p>Riesgos <br> solucionados</p>
		</div>
	</div>
</div>
<div class="conten-charts">
	<div class="line-chart">
		<h3>Títulos vendidos</h3>
		<app-line-charts></app-line-charts>
	</div>
	<div class="pie-chart">
		<h3>Oportunidades pendientes y cerradas</h3>
		<app-pie-chart></app-pie-chart>
	</div>
</div>