.card-welcome{
	background-color: black;
	margin:10% 5% 0 5% ;
	margin-bottom: 5%;
}
 h1{
	padding:15px;
	text-align: center;
	color: #ffff;
	font-weight: bolder;
}
.card-content{
	display: flex;
	color: #ffff;
	justify-content: space-around;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
}

.products-sold h3{
	color: #FC9BB3;
	font-weight: bolder;
}
.promises-created h3{
	color: #FFCE00;
	font-weight: bolder;
}
.risks-solved h3{
	color: #FE4021;
	font-weight: bolder;

}
.img-card-welcome img{
	width: 100px;
	height: 100px;
}
.conten-charts{
	display: flex;
	justify-content: space-around;
}
.line-chart h3{
	text-align: center;
	font-weight: bolder;
}
.pie-chart h3{
	text-align: center;
	font-weight: bolder;
}
.line hr{
	border: solid #FFFFFF;

	}

@media (max-width: 768px){
.card-content{
	flex-direction: column;
}
.line hr{
display: none;

	}
p{
	font-size: 1.5em;
}
h3{
	font-size: 2em;
}
.conten-charts{
	flex-direction: column;
	align-content: center;
	align-items: center;
}
}
