table {
    width: 100%;
    background: white;
  }

  .title h1{
    font-family: 'Archivo Black', sans-serif;;
    font-size: 30px;
    font-weight:900;

  }

  .container-btn-new {
    width: 100%;
    margin: 5rem -0.6rem;
  }

  .box-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;

    width: 100%;
    height: 200px;
  }
	.box-button img{
    margin-right: 20px;
    margin-left: 90px;
  }

	.container-btn-new {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-right: 15%;

    margin-bottom: 15px;
  }

  .container-btn-new button:hover {
    color: white;
    background: black;
  }

  .container-btn-new button {
    width: 25%;
    color: white;
    background-color: #FE4021;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    width: 170px;
    height: 40px;
  }

  .mat-stroket-button {
    margin-bottom: 10px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .filtro {
    margin-left: 8%;
		margin-top: 5%;

    font-weight: bold;
    font-size: 17px;
  }

  .placeholder-filtro {
    margin-left: 16%;
  }

  .edit-button {
    margin-left: 10px;
  }

  .erase-button {
    margin-left: 10px;
  }

  .table-form-customer {
    width: 900px;
    height: 350px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-left: 8%;
  }

  .name-customer-style {
    font-weight: bold;
    color: black;
  }


  @media (max-width: 768px){

    .title{
      font-family: 'Archivo Black', sans-serif;
      font-size: 15px;
      font-weight:900;
    }

    .title h1{
      font-family: 'Archivo Black', sans-serif;
      font-size: 25px;
      font-weight:900;

      margin-left: 25%;
    }

    .container-btn-new{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .table {
      width: 200px;
      background: #E5E5E5;

      /* overflow: scroll; */
    }

    .mat-elevation-z8{
      width: 100px;
      height: 500px;

      margin-left: 20%;
      /* overflow: scroll; */
    }

    .table-form-customer {
      width: 150px;
      height: 500px;

      display: flex;
      /* flex-direction: row; */
      justify-content: center;
      align-items: center;

      margin-left: 40%;
    }

    .container-btn-new {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      margin-right: 5%;

      margin-bottom: 15px;
    }

    .container-btn-new button:hover {
      color: white;
      background: black;
    }

    .container-btn-new button {
      /* width: 25%; */
      color: white;
      /* background: #FFCE00; */
      background-color: #FE4021;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      width: 140px;
      height: 30px;
    }
  }
