<div class="loginContainer">
  <div class="firstContainer">
    <span><h1>BlackRock</h1></span>
  </div>
  <div class="secondContainer">
    <div class="welcome">
      <span><h2>Bienvenido de nuevo, BLK</h2></span>
      <span class="wlcm">¡Que tengas muchos cierres de oportunidades!</span>
    </div>
    <span class="text-center">Iniciar sesión</span>
  <div class="loginForm">
    <div class="email-container">
          <input class="emailInput" [(ngModel)]="email" name="email" required=""/>
          <label for="name" class="form-label">Correo</label>
    </div>
    <div class="pass-container">
          <input class="passInput" type="password" [(ngModel)]="password" name="password" required="" />
          <label for="name" class="form-label">Contraseña</label>
    </div>
      <div class="btnLogin">
        <button class="btnL" (click)="customLogin()">Iniciar Sesión</button>
      </div>
    <div>
      <button class="logout" (click)="logout()">Logout</button>
    </div>
  </div>
  </div>
</div>


